.intro {
  padding: 92px 148px;
  display: flex;
  max-width: 690px;
  flex-direction: column;
}

.intro {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 640px) {
  .intro {
    padding-top: 80px;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    padding-top: 70px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 16px;
  }
}