.place__link {
  display: inline-block;
  margin: 0;
  padding: 12px 0 0;
  color: #fff;
  font-size: 400px;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid white;
}
