.footer__links-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px 18px;
  list-style: none;
}

@media screen and (max-width: 500px) {
  .footer__links-list {
    flex-direction: column;
  }
}