.cover__title {
  margin: 0 auto;
  padding: 0;
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .cover__title {
    font-size: 12vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;  
  }
}