.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 48px 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
    row-gap: 48px;
    padding: 0 16px 24px;
  }
}
/*повтор*/
@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    row-gap: 48px;
    padding: 0 16px 24px;
  }
}